<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--如需打印SQL日志，注释一下配置-->
    <!--<settings>-->
    <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
    <!--</settings>-->
    <typeAliases>
        <package name="cn.dolphin.campaigns.domain"/>
        <package name="cn.dolphin.campaigns.form"/>
    </typeAliases>
    <!--<plugins>-->
        <!--<plugin interceptor="org.mybatis.pagination.PaginationInterceptor">-->
            <!--<property name="dbms" value="mysql"/>-->
            <!--<property name="sqlRegex" value=".*Paging.*"/>-->
        <!--</plugin>-->
        <!--<plugin interceptor="com.github.pagehelper.PageHelper">-->
            <!--&lt;!&ndash;配置数据库方言 &ndash;&gt;-->
            <!--<property name="dialect" value="mysql"/>-->
            <!--&lt;!&ndash;<property name="offsetAsPageNum" value="false"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<property name="rowBoundsWithCount" value="false"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<property name="pageSizeZero" value="true"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<property name="reasonable" value="false"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<property name="supportMethodsArguments" value="false"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<property name="returnPageInfo" value="none"/>&ndash;&gt;-->
        <!--</plugin>-->
    <!--</plugins>-->
</configuration>