.link-action {
  cursor : pointer;
}
#banner .banner-agenda {
  position         : absolute;
  background-color : rgba(255, 255, 255, 0.67);
  z-index          : 2;
  left             : 25px;
  top              : -2px;
}
.content-container {
  margin-top : 30px;
}
.content-container .content-left {
  width : 360px;
  float : left;
}
.swipe-s {
  margin-top : 0;
}
.swipe-s, .swipe-s .banner-container, .swipe-s .banner-wrapper > li {
  width  : 360px;
  height : 225px;
}
#event-swipe .event-hover {
  width    : 360px;
  height   : 225px;
  position : absolute;
  left     : 0;
  top      : 0;
  display  : none;
}
#comer-swipe a {
  display : inline-block;
}
#comer-swipe .comer-hover {
  width    : 100%;
  position : absolute;
  left     : 0;
  top      : 0;
  /*display  : none;*/
}
.content-container .content-right {
  width : 570px;
  float : right;
}
.content-right .news-container {
  width       : 50%;
  float       : left;
  border-left : 1px solid #a7a7a7;
}
.content-right .news-container .frame-vertical-line {
  width        : 60px;
  height       : 100%;
  position     : absolute;
  border-right : 1px solid #a7a7a7;
  left         : 0;
  top          : 0;
}
.content-right .news-content {
  margin-left  : -7px;
  margin-right : -14px;
  margin-top   : 20px;
}
.content-right .news-footer {
  position : absolute;
  left     : 0;
}
.content-right .news-container .news-desc {
  float : left;
}
.content-right .news-container .time {
  text-align : center;
}
.content-right .news-container .time .year {
  font-size : 12px;
}
.content-right .news-container .time .month {
  font-size : 16px;
}
.content-right .news-container .news {
  width       : 205px;
  font-size   : 12px;
  margin-left : 14px;
  line-height : 18px;
}
.content-right .news-wrapper-container {
  height   : 500px;
  overflow : hidden;
  padding  : 0 17px;
}
.content-right .news-wrapper-container .news-wrapper {
  padding-left : 17px;
}
.content-right .news-wrapper .brand-content {
  margin-bottom : 13px;
}
.content-right .news-wrapper .brand-content .news-content {
  margin-top : 10px;
}
.content-right .news-container .more {
  font-size : 9px;
  color     : #000;
}
.frame-container {
  margin-bottom : 35px;
}
.frame-title {
  margin-bottom : 10px;
}
.area-a {
  font-size : 0;
}
#xtd, #xtdf, #hbd, #xl {
  cursor : pointer;
}
#xtd {
  border-color : #656568;
}
#xtdf {
  border-color : #c0966b;
}
#hbd {
  border-color : #00789a;
}
#xl {
  border-color : #a94324;
}
#xl-come {
  position     : absolute;
  left         : 0;
  top          : -122px;
  opacity      : 0;
  border-color : #a94324;
}
#xtd:hover {
  background-color : rgba(101, 101, 104, 0.4);
}
#xtdf:hover {
  background-color : rgba(192, 150, 107, 0.4);
}
#hbd:hover {
  background-color : rgba(0, 120, 154, 0.4);
}
.project-container {
  padding    : 0 40px;
  margin-top : 30px;
}
.project-container .area {
  float       : left;
  width       : 25%;
  text-align  : center;
  border-left : 1px solid #58595b;
}
.project-container .area-img {
  display       : inline-block;
  border-top    : 3px solid;
  border-left   : none;
  border-right  : none;
  border-bottom : none;
}
.icon-index-title {
  width   : 360px;
  height  : 13px;
  display : block;
}
.icon-index-event {
  background-position : 0 -357px;
}
.icon-index-come {
  background-position : 0 -339px;
}
.icon-index-news {
  width               : 570px;
  background-position : 0 -375px;
}
.slimScrollDiv {
  margin-left  : -17px;
  margin-right : -8px;
}
.scroller {
  padding-left  : 17px;
  padding-right : 8px;
}